//! **************************************************************************
// Written by: Map M.53d on Tue Apr 05 13:33:29 2011
//! **************************************************************************

SCHEMATIC START;
COMP "AN<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "buttons<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "buttons<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "buttons<2>" LOCATE = SITE "L13" LEVEL 1;
COMP "buttons<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "switch" LOCATE = SITE "K13" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "F13" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "N15" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "G13" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "E14" LEVEL 1;
COMP "uclock" LOCATE = SITE "T9" LEVEL 1;
NET "uclock_BUFGP/IBUFG" BEL "uclock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

